<h1>ConnectFour <%=@move %></h1>


<h3>Computer last move : <%=@move %> </h3>
<script type="text/javascript">
	//alert(gon.move)
	//function changeImage(gon.move) {
		myimg="img"+gon.move;
        document.getElementById(myimg).src="/assets/letter-x.jpg";
        document.getElementById(myimg).class="imagebox";
        document.getElementById(myimg).id=myimg;
        //document.getElementById(myimg).src.disabled = true;
    //}

</script>
<div class="row">
	  <div class="card-deck">
	  <img class="cells"  src="/assets/cells.jpg">
	  </div>
</div>

<div class="row">
	  <div class="card-deck">
	  <div class="card">
	     <img class="imageboxempty" id="img50" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img50",49);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img51" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img51",49);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img52" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img52",49);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img53" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img53",49);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img54" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img54",49);';'>
	  </div>
	  <div class="card">
	      <img class="imageboxempty" id="img55" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img55",49);';'>
	  </div>
	  <div class="card">
	      <img class="imageboxempty" id="img56" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img56",49);';'>
	  </div>
	</div>
</div>

<div class="row">
	  <div class="card-deck">
	  <div class="card">
	     <img class="imageboxempty" id="img43" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img43",42);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img44" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img44",42);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img45" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img45",42);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img46" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img46",42);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img47" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img47",42);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img48" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img48",42);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img49" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img49",42);';'>
	  </div>
	</div>
</div>


<div class="row">
	  <div class="card-deck">
	  <div class="card">
	     <img class="imageboxempty" id="img36" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img36",35);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img37" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img37",35);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img38" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img38",35);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img39" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img39",35);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img40" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img40",35);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img41" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img41",35);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img42" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img42",35);';'>
	  </div>
	</div>
</div>

<div class="row">
	  <div class="card-deck">
	  <div class="card">
	     <img class="imageboxempty" id="img29" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img29",28);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img30" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img30",28);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img31" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img31",28);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img32" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img32",28);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img33" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img33",28);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img34" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img34",28);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img35" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img35",28);';'>
	  </div>
	</div>
</div>

<div class="row">
	  <div class="card-deck">
	  <div class="card">
	     <img class="imageboxempty" id="img22" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img22",21);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img23" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img23",21);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img24" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img24",21);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img25" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img25",21);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img26" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img26",21);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img27" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img27",21);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img28" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img28",21);';'>
	  </div>
	</div>
</div>



<div class="row">
	  <div class="card-deck">
	  <div class="card">
	     <img class="imageboxempty" id="img15" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img15",14);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img16" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img16",14);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img17" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img17",14);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img18" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img18",14);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img19" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img19",14);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img20" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img20",14);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img21" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img21",14);';'>
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
         <img class="imageboxempty" id="img8" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img8",7);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img9" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img9",7);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img10" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img10",7);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img11" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img11",7);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img12" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img12",7);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img13" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img13",7);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img14" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img14",7);';'>
	  </div>
	</div>
</div>

<div class="row">
	  <div class="card-deck">
	  <div class="card">
         <img class="imageboxempty" id="img1" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img1",0);'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img2" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img2",0);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img3" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img3",0);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img4" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img4",0);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img5" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img5",0);';'>
	  </div>
	  <div class="card">
	     <img class="imageboxempty" id="img6" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img6",0);';'>
	  </div>
	  <div class="card" id="classimg7">

	     <img class="imageboxempty" id="img7" src="/assets/letter-empty.jpg"  onclick='changeImage(src="/assets/letter-o.jpg",gon.move,"img7",0);';'>

	  </div>
	</div>
</div>

    <div class="col-md-6">
    <div>

        <table class="table table-hover table-striped table-condensed" ng-show="movesInGame.length">
            <h2 class="lead">History of moves in the game</h2>
            <thead>
            <td>Player</td>
            <td>Position</td>
            <td>Move created</td>
            </thead>
            <tbody>
                <tr ng-repeat="move in movesInGame">
                    <td>{{move.userName}}</td>
                    <td>Board row: {{move.boardRow}}, Board column: {{move.boardColumn}}</td>
                    <td>{{move.created | date:'MM-dd-yyyy HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                </table>

                <div ng-show="!movesInGame.length">
                    No moves yet.
                </div>

    </div>
</div>
</div>


