<h1></h1>
<p>ConnectFour</p>

<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	</div>
</div>
<div class="row">
	  <div class="card-deck">
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-empty.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-x.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-o.jpg">
	  </div>
	  <div class="card">
	    <img class="imagebox" src="/assets/letter-o.jpg">
	  </div>
	</div>
</div>

    <div class="col-md-6">
    <div>

        <table class="table table-hover table-striped table-condensed" ng-show="movesInGame.length">
            <h2 class="lead">History of moves in the game</h2>
            <thead>
            <td>Player</td>
            <td>Position</td>
            <td>Move created</td>
            </thead>
            <tbody>
                <tr ng-repeat="move in movesInGame">
                    <td>{{move.userName}}</td>
                    <td>Board row: {{move.boardRow}}, Board column: {{move.boardColumn}}</td>
                    <td>{{move.created | date:'MM-dd-yyyy HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                </table>

                <div ng-show="!movesInGame.length">
                    No moves yet.
                </div>

    </div>
</div>
</div>
